In [1]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("DatasetMahasiswa.csv")
data

,Perguruan Tinggi,NPM,Nama Mahasiswa,Lulus Semester,IPK,Alamat,No. Telp
0,UNIVERSITAS BUNDA MULIA,12160013,ANNISA PERTIWI,7,3.25,Jl. Dakota IV RT. 005/08 No. 15 - Kec. Kemayor...,83890905155
1,UNIVERSITAS BUNDA MULIA,12160307,LANI PARLINA,9,2.91,Jl. Nelayan Timur RT. 007/008 No.6A Kelurahan ...,89649490185
2,UNIVERSITAS BUNDA MULIA,14160412,IRENE SAPHIRA,7,2.64,Jl. Rajawali SLT I - RT.015/002 Gunung Saharai...,81315901290
3,UNIVERSITAS BUNDA MULIA,14160447,VERA SORAYA,8,3.26,Jl. Kali Anyar X Gang V - RT. 006/06 No. 8 Kel...,83872378022
4,UNIVERSITAS BUNDA MULIA,14160449,AYUMI TAMBUNAN,7,3.52,Jl. Cempaka 1 Blok T-27 No.1-A RT.001/030 Kel....,89672079888
...,...,...,...,...,...,...,...
97,INSTITUT ILMU SOSIAL DAN MANAJEMEN STIAMI,CA116111085,RAOUL FAUZI AKBAR,9,3.10,"Gang. Musholla Nurul Anwar, No.9 B RT,001/RW00...",83883255057
98,INSTITUT ILMU SOSIAL DAN MANAJEMEN STIAMI,CA116111094,FAKHRI MUHAMMAD,7,3.71,Jl. Sei Silau LK. VI Kelurahan Tebing Kisaran ...,82277455757
99,INSTITUT ILMU SOSIAL DAN MANAJEMEN STIAMI,CA116111095,WAHYU ANGGRAINI,8,3.98,"Kp. Malaka I Rt.001/Rw.012 No.45 Kel. Rorotan,...",83895869916
100,INSTITUT ILMU SOSIAL DAN MANAJEMEN STIAMI,CA216111018,RICA DWI RAHMAWATI,7,3.83,JL.SIAGA 12 KP.BUGIS RT.011 RW.03 N0.23C CEMPA...,83890877850
101,INSTITUT ILMU SOSIAL DAN MANAJEMEN STIAMI,CB016111059,FIKRI MAULANA,7,3.24,"Desa. Puncel, RT.3/II Kec. Dukuhseti Kab. Pati...",82225837146

In [3]:
npm = data['NPM'].unique()
nama = data['Nama Mahasiswa'].unique()
ipk = data['IPK'].unique()
univ = data['Perguruan Tinggi'].unique()
semester = data['Lulus Semester'].unique()

In [4]:
data['Alamat'].describe()

count                                                   102
unique                                                  102
top       Jl. Rajawali SLT I - RT.015/002 Gunung Saharai...
freq                                                      1
Name: Alamat, dtype: object

In [5]:
nama

array(['ANNISA PERTIWI', 'LANI PARLINA', 'IRENE SAPHIRA', 'VERA SORAYA',
       'AYUMI TAMBUNAN', 'FREDRIK MOSES YOHANES SANAKY', 'DEVI NATASIA',
       'VANESSA', 'MERLINE HUANGCY', 'ALICIA', 'PUTRI RAMADANIAR',
       'CHRISTI YULITA', 'ULYA QISTI RACHMANI', 'ANDRE PRANOWO',
       'ABHI SENO MONIZAR', 'MAWAR AHMALIA FAUZIAH',
       'AFIQOH NUR SOFIARNI', 'YULIAWANTI GINARIS', 'RINA KARLINA',
       'WINALDA TUZZAHRA HERWINAWAWI', 'MARLIANI DEVITA',
       'MILA MINCHATUL MAULA', 'JAKA PURNAMA', 'NOLA WAHDINI FAJRIANI',
       'DINAR SEKAR SEMESTA', 'ALMA SUCI PUTRI. A',
       'RISKA BELLA PERMATASARI', 'FUJIKA LESTARI', 'DEVI RATNADILLA',
       'EVA SORAYA', 'FITRI YANI', 'ABDINA WAHYUDI', 'CITRA DELIMA',
       'DESTIAR RAMADHANTIE. S', 'INTAN PERMATA DEWI', 'NENENG RAHMIATI',
       'PAMILA KHANSA', 'RISTAK FAIDATUN NISAK', 'SAHABUDIN LETSOIN',
       'WAHYU DWI TRIYANI', 'MEITIARA NANDA HERISETIANIS',
       'CARISSA SOTIA', 'MARWAH ANISYA', 'SUCI LIHUNA YANTO',
       'NI LUH EVA ARDONIS', 'MADE AGUS FEBRI SETIAWAN',
       'PUTU AYU KRISNA PRATIWI', 'ALFIENA PUJI KUSUMA DEWANTI',
       'MEISYA VIOLETA SUNARGO', 'JIHDANU RISDAN', 'KARIMAH', 'HARUN',
       'NANDAR', 'NAFARIN AHADIYANTI', 'MUHAMAD HIFDZI MUZAKKI',
       'SITI MARDIAH', 'SUNARTO', 'NADIRAH', 'MUSTAFIDUL HIDAYAT',
       'M. TEGUH NUANSAH', 'NIA RIZKI APRIANI', 'TENTI SELY NOVIANTIKA',
       'ANISAH SABILLAH', 'MUHAMAD HENDI SUHENDI', 'LUTFIATUAN FUADIAH',
       'YUSTARI ANGGRAENI', "DWI ULIN NI'MAH", 'MUHAMMAD ASNAWI KHOLIL',
       'DANI AZKIYAK', 'AFLAKULLOH AL MUWAFFAQ', 'SUKMA WAHYU HIDAYAT',
       'ANGGRAENI KUSUMADEWI', "LIYA ULFATUS SA'IDAH",
       'NURUL AKBAR TANJUNG', 'GRACE NATALIA KAREN HAPUKH',
       'DANA DWI LESTARI PUTRI', 'ASTRI KHAIRUN NISA', 'YOVI FRIANGGA',
       'ROMARIO', 'ROSA MARIA ANJELINA DHONE',
       'ENO MARIA YOHANA ANDRIANI', 'MARIA ANTONINA A POLU',
       'METRI ROSA ARISANDI', 'LUTFIA NUR OCTAVIANI', 'NENG YULIAWATI',
       'DINDA STEVANY MUHEA', 'DINI IMBAR SARI', 'NUR ANISA',
       'CELLIN PRISELLIA GABRIELA W', 'NOVITA ROSALINA', 'REZKY PRATAMA',
       'RINA ANANDA MAHARANI', 'JENNI NURHAITI', 'ANNISA HANIFAH',
       'SENI HELMI', 'RACHER TIMOTIUS ROTINSULU', 'KEVIN RAMADHAN SAGALA',
       'RAOUL FAUZI AKBAR', 'FAKHRI MUHAMMAD', 'WAHYU ANGGRAINI',
       'RICA DWI RAHMAWATI', 'FIKRI MAULANA'], dtype=object)

In [6]:
ipk

array([3.25, 2.91, 2.64, 3.26, 3.52, 3.14, 3.58, 2.5 , 3.33, 2.89, 3.32,
       3.15, 3.16, 2.94, 1.33, 3.4 , 3.7 , 3.74, 3.2 , 3.6 , 3.34, 3.39,
       2.86, 3.51, 3.59, 3.28, 3.23, 3.8 , 3.17, 3.66, 3.44, 3.71, 3.62,
       3.56, 3.27, 3.3 , 3.55, 3.91, 3.11, 3.22, 3.5 , 3.29, 3.38, 3.35,
       3.49, 2.79, 3.31, 3.84, 3.63, 3.78, 3.48, 3.68, 3.37, 3.42, 3.53,
       3.75, 3.64, 3.54, 3.41, 3.  , 2.76, 3.67, 2.97, 3.87, 3.1 , 3.98,
       3.83, 3.24])

In [7]:
univ

array(['UNIVERSITAS BUNDA MULIA', 'UNIVERSITAS INDRAPRASTA PGRI',
       'UNIVERSITAS BAKRIE', 'UNIVERSITAS TRILOGI',
       'UNIVERSITAS PRASETIYA MULYA', 'INSTITUT TEKNOLOGI INDONESIA',
       'INSTITUT KEU PERBANKAN DAN INF ASIA PERBANAS',
       'INSTITUT BISNIS NUSANTARA',
       'INSTITUT TEKNOLOGI DAN BISNIS KALBIS',
       'INSTITUT BISNIS DAN MULTIMEDIA ASMI JAKARTA',
       ' INSTITUT ILMU SOSIAL DAN MANAJEMEN STIAMI'], dtype=object)

In [8]:
semester

array([ 7,  9,  8, 10], dtype=int64)

In [9]:
data.head()

,Perguruan Tinggi,NPM,Nama Mahasiswa,Lulus Semester,IPK,Alamat,No. Telp
0,UNIVERSITAS BUNDA MULIA,12160013,ANNISA PERTIWI,7,3.25,Jl. Dakota IV RT. 005/08 No. 15 - Kec. Kemayor...,83890905155
1,UNIVERSITAS BUNDA MULIA,12160307,LANI PARLINA,9,2.91,Jl. Nelayan Timur RT. 007/008 No.6A Kelurahan ...,89649490185
2,UNIVERSITAS BUNDA MULIA,14160412,IRENE SAPHIRA,7,2.64,Jl. Rajawali SLT I - RT.015/002 Gunung Saharai...,81315901290
3,UNIVERSITAS BUNDA MULIA,14160447,VERA SORAYA,8,3.26,Jl. Kali Anyar X Gang V - RT. 006/06 No. 8 Kel...,83872378022
4,UNIVERSITAS BUNDA MULIA,14160449,AYUMI TAMBUNAN,7,3.52,Jl. Cempaka 1 Blok T-27 No.1-A RT.001/030 Kel....,89672079888

In [10]:
import mysql.connector
db = mysql.connector.connect(host="localhost",user="root",passwd="")
cursor = db.cursor()

In [11]:
cursor.execute("DROP DATABASE if exists datamhs")
cursor.execute("CREATE DATABASE datamhs")
cursor.execute("use datamhs")

In [12]:
cursor.execute("DROP TABLE if exists univ")
cursor.execute("DROP TABLE if exists mahasiswa")
cursor.execute("DROP TABLE if exists data_mhs")
cursor.execute("create table univ(id_univ int primary key, nama_univ varchar(50) not null)")
cursor.execute("create table mahasiswa(id_mhs int primary key, npm int not null, nama varchar(255) not null, alamat varchar(255) not null, no_tlp int not null)")
cursor.execute("create table data_mhs(id_data int primary key, semester int not null, ipk int not null, id_univ int not null, id_mhs int not null)")

In [13]:
univ = []
mahasiswa = []
data_mhs = []

for i, j in data.iterrows():
    if j[0] not in univ:
        univ.append(j[0])
    
    u = -1
    for index,values in enumerate(univ):
        if values == j[0]:
            u = index+1
            break
    
    
    if [j[1], j[2], j[5], j[6]] not in mahasiswa:
        mahasiswa.append([j[1], j[2], j[5], j[6]])
    
    m = -1
    for index, values in enumerate(mahasiswa):
        if values[0] == j[1]:
            m = index+1
            break
    
    if [j[3], j[4], u, m] not in data_mhs:
        data_mhs.append([j[3], j[4], u, m])

In [14]:
cursor.execute("delete from univ")
for index, i in enumerate(univ): 
    cursor.execute("INSERT INTO UNIV VALUES(" + str(index+1) + ", '" + str(i) + "')")
    db.commit

In [15]:
cursor.execute("SELECT * FROM UNIV")

univ = []
for row in cursor.fetchall():
    univ.append(row)
print("                                           - Nama Perguruan Tinggi -                                    ")
print(univ)
print("------------------------------------------------------------------------------------------------------------------------")

                                           - Nama Perguruan Tinggi -
[(1, 'UNIVERSITAS BUNDA MULIA'), (2, 'UNIVERSITAS INDRAPRASTA PGRI'), (3, 'UNIVERSITAS BAKRIE'), (4, 'UNIVERSITAS TRILOGI'), (5, 'UNIVERSITAS PRASETIYA MULYA'), (6, 'INSTITUT TEKNOLOGI INDONESIA'), (7, 'INSTITUT KEU PERBANKAN DAN INF ASIA PERBANAS'), (8, 'INSTITUT BISNIS NUSANTARA'), (9, 'INSTITUT TEKNOLOGI DAN BISNIS KALBIS'), (10, 'INSTITUT BISNIS DAN MULTIMEDIA ASMI JAKARTA'), (11, ' INSTITUT ILMU SOSIAL DAN MANAJEMEN STIAMI')]
------------------------------------------------------------------------------------------------------------------------

In [16]:
cursor.execute("delete from mahasiswa")
for i,j in enumerate(mahasiswa):
    cursor.execute("INSERT INTO MAHASISWA VALUES(" + str(i+1) + ", '" + str(j[0]) + "', '" + str(j[1]).replace("'",'') + "', '" + str(j[2]) + "', '" + str(j[3]) + "')")
    db.commit

In [17]:
cursor.execute("SELECT * FROM MAHASISWA")

for row in cursor.fetchall():
    mahasiswa.append(row)
print("                                                    - DATA MAHASISWA -                                    ")
print(mahasiswa)
print("------------------------------------------------------------------------------------------------------------------------")

                                           - Nama Perguruan Tinggi -

In [21]:
cursor.execute("delete from data_mhs")
for i,j in enumerate(data_mhs):
    cursor.execute("INSERT INTO DATA_MHS VALUES(" + str(i+1) + ", '" + str(j[0]) + "'," + str(j[1]) + "," + str(j[2]) + "," + str(j[3]) + ")")
    db.commit
#  print("INSERT INTO DATA_MHS VALUES(" + str(i+1) + ", '" + str(j[0]) + "'," + str(j[1]) + "," + str(j[2]) + "," + str(j[3]) + ")")

In [22]:
cursor.execute("SELECT * FROM DATA_MHS")

for row in cursor.fetchall():
    data_mhs.append(row)
print("                                           - LIST DATA -                                    ")
print(data_mhs)
print("------------------------------------------------------------------------------------------------------------------------")

                                           - LIST DATA -
[[7, 3.25, 1, 1], [9, 2.91, 1, 2], [7, 2.64, 1, 3], [8, 3.26, 1, 4], [7, 3.52, 1, 5], [7, 3.14, 1, 6], [7, 3.58, 1, 7], [8, 2.5, 1, 8], [8, 3.33, 1, 9], [8, 2.89, 1, 10], [9, 3.32, 1, 11], [7, 3.15, 1, 12], [7, 3.16, 2, 13], [7, 2.94, 2, 14], [10, 1.33, 2, 15], [7, 3.4, 2, 16], [8, 3.7, 3, 17], [8, 3.74, 3, 18], [8, 3.2, 3, 19], [8, 3.6, 3, 20], [8, 3.34, 3, 21], [8, 3.26, 3, 22], [7, 3.16, 3, 23], [7, 3.33, 3, 24], [9, 3.39, 4, 25], [10, 2.86, 4, 26], [7, 3.51, 4, 27], [7, 3.59, 4, 28], [7, 3.28, 4, 29], [8, 3.23, 4, 30], [8, 3.8, 4, 31], [8, 3.17, 4, 32], [7, 3.66, 4, 33], [8, 3.66, 4, 34], [7, 3.7, 4, 35], [7, 3.44, 4, 36], [7, 3.71, 4, 37], [7, 3.62, 4, 38], [7, 3.56, 4, 39], [7, 3.27, 4, 40], [8, 3.3, 4, 41], [8, 3.55, 4, 42], [7, 3.44, 4, 43], [7, 3.91, 4, 44], [10, 3.11, 5, 45], [7, 3.22, 5, 46], [8, 3.5, 5, 47], [7, 3.7, 5, 48], [8, 3.29, 5, 49], [7, 3.38, 6, 50], [7, 3.62, 6, 51], [7, 3.35, 6, 52], [8, 3.49, 6, 53], [8, 2.79, 6, 54], [8, 3.31, 7, 55], [7, 3.84, 7, 56], [7, 3.63, 7, 57], [7, 3.78, 7, 58], [8, 3.6, 7, 59], [8, 3.48, 7, 60], [8, 3.51, 7, 61], [8, 3.33, 7, 62], [7, 3.68, 7, 63], [7, 3.48, 7, 64], [7, 3.37, 7, 65], [7, 3.42, 7, 66], [7, 3.53, 7, 67], [8, 3.26, 7, 68], [7, 3.75, 7, 69], [8, 3.55, 7, 70], [8, 3.14, 7, 71], [8, 3.62, 7, 72], [7, 3.33, 7, 73], [7, 3.64, 7, 74], [9, 3.54, 8, 75], [9, 3.41, 8, 76], [7, 3.62, 8, 77], [7, 3.0, 9, 78], [7, 2.76, 9, 79], [10, 3.31, 9, 80], [10, 3.3, 9, 81], [7, 3.28, 9, 82], [8, 3.64, 10, 83], [7, 3.78, 10, 84], [7, 3.67, 10, 85], [9, 3.58, 10, 86], [7, 2.97, 10, 87], [8, 3.66, 10, 88], [8, 3.48, 10, 89], [7, 3.63, 10, 90], [8, 3.38, 10, 91], [7, 3.87, 10, 92], [7, 3.22, 10, 93], [10, 3.38, 10, 94], [7, 3.7, 10, 95], [9, 2.94, 10, 96], [7, 3.48, 11, 97], [9, 3.1, 11, 98], [7, 3.71, 11, 99], [8, 3.98, 11, 100], [7, 3.83, 11, 101], [7, 3.24, 11, 102], (1, 7, 3, 1, 1), (2, 9, 3, 1, 2), (3, 7, 3, 1, 3), (4, 8, 3, 1, 4), (5, 7, 4, 1, 5), (6, 7, 3, 1, 6), (7, 7, 4, 1, 7), (8, 8, 3, 1, 8), (9, 8, 3, 1, 9), (10, 8, 3, 1, 10), (11, 9, 3, 1, 11), (12, 7, 3, 1, 12), (13, 7, 3, 2, 13), (14, 7, 3, 2, 14), (15, 10, 1, 2, 15), (16, 7, 3, 2, 16), (17, 8, 4, 3, 17), (18, 8, 4, 3, 18), (19, 8, 3, 3, 19), (20, 8, 4, 3, 20), (21, 8, 3, 3, 21), (22, 8, 3, 3, 22), (23, 7, 3, 3, 23), (24, 7, 3, 3, 24), (25, 9, 3, 4, 25), (26, 10, 3, 4, 26), (27, 7, 4, 4, 27), (28, 7, 4, 4, 28), (29, 7, 3, 4, 29), (30, 8, 3, 4, 30), (31, 8, 4, 4, 31), (32, 8, 3, 4, 32), (33, 7, 4, 4, 33), (34, 8, 4, 4, 34), (35, 7, 4, 4, 35), (36, 7, 3, 4, 36), (37, 7, 4, 4, 37), (38, 7, 4, 4, 38), (39, 7, 4, 4, 39), (40, 7, 3, 4, 40), (41, 8, 3, 4, 41), (42, 8, 4, 4, 42), (43, 7, 3, 4, 43), (44, 7, 4, 4, 44), (45, 10, 3, 5, 45), (46, 7, 3, 5, 46), (47, 8, 4, 5, 47), (48, 7, 4, 5, 48), (49, 8, 3, 5, 49), (50, 7, 3, 6, 50), (51, 7, 4, 6, 51), (52, 7, 3, 6, 52), (53, 8, 3, 6, 53), (54, 8, 3, 6, 54), (55, 8, 3, 7, 55), (56, 7, 4, 7, 56), (57, 7, 4, 7, 57), (58, 7, 4, 7, 58), (59, 8, 4, 7, 59), (60, 8, 3, 7, 60), (61, 8, 4, 7, 61), (62, 8, 3, 7, 62), (63, 7, 4, 7, 63), (64, 7, 3, 7, 64), (65, 7, 3, 7, 65), (66, 7, 3, 7, 66), (67, 7, 4, 7, 67), (68, 8, 3, 7, 68), (69, 7, 4, 7, 69), (70, 8, 4, 7, 70), (71, 8, 3, 7, 71), (72, 8, 4, 7, 72), (73, 7, 3, 7, 73), (74, 7, 4, 7, 74), (75, 9, 4, 8, 75), (76, 9, 3, 8, 76), (77, 7, 4, 8, 77), (78, 7, 3, 9, 78), (79, 7, 3, 9, 79), (80, 10, 3, 9, 80), (81, 10, 3, 9, 81), (82, 7, 3, 9, 82), (83, 8, 4, 10, 83), (84, 7, 4, 10, 84), (85, 7, 4, 10, 85), (86, 9, 4, 10, 86), (87, 7, 3, 10, 87), (88, 8, 4, 10, 88), (89, 8, 3, 10, 89), (90, 7, 4, 10, 90), (91, 8, 3, 10, 91), (92, 7, 4, 10, 92), (93, 7, 3, 10, 93), (94, 10, 3, 10, 94), (95, 7, 4, 10, 95), (96, 9, 3, 10, 96), (97, 7, 3, 11, 97), (98, 9, 3, 11, 98), (99, 7, 4, 11, 99), (100, 8, 4, 11, 100), (101, 7, 4, 11, 101), (102, 7, 3, 11, 102), (1, 7, 3, 1, 1), (2, 9, 3, 1, 2), (3, 7, 3, 1, 3), (4, 8, 3, 1, 4), (5, 7, 4, 1, 5), (6, 7, 3, 1, 6), (7, 7, 4, 1, 7), (8, 8, 3, 1, 8), (9, 8, 3, 1, 9), (10, 8, 3, 1, 10), (11, 9, 3, 1, 11), (12, 7, 3, 1, 12), (13, 7, 3, 2, 13), (14, 7, 3, 2, 14), (15, 10, 1, 2, 15), (16, 7, 3, 2, 16), (17, 8, 4, 3, 17), (18, 8, 4, 3, 18), (19, 8, 3, 3, 19), (20, 8, 4, 3, 20), (21, 8, 3, 3, 21), (22, 8, 3, 3, 22), (23, 7, 3, 3, 23), (24, 7, 3, 3, 24), (25, 9, 3, 4, 25), (26, 10, 3, 4, 26), (27, 7, 4, 4, 27), (28, 7, 4, 4, 28), (29, 7, 3, 4, 29), (30, 8, 3, 4, 30), (31, 8, 4, 4, 31), (32, 8, 3, 4, 32), (33, 7, 4, 4, 33), (34, 8, 4, 4, 34), (35, 7, 4, 4, 35), (36, 7, 3, 4, 36), (37, 7, 4, 4, 37), (38, 7, 4, 4, 38), (39, 7, 4, 4, 39), (40, 7, 3, 4, 40), (41, 8, 3, 4, 41), (42, 8, 4, 4, 42), (43, 7, 3, 4, 43), (44, 7, 4, 4, 44), (45, 10, 3, 5, 45), (46, 7, 3, 5, 46), (47, 8, 4, 5, 47), (48, 7, 4, 5, 48), (49, 8, 3, 5, 49), (50, 7, 3, 6, 50), (51, 7, 4, 6, 51), (52, 7, 3, 6, 52), (53, 8, 3, 6, 53), (54, 8, 3, 6, 54), (55, 8, 3, 7, 55), (56, 7, 4, 7, 56), (57, 7, 4, 7, 57), (58, 7, 4, 7, 58), (59, 8, 4, 7, 59), (60, 8, 3, 7, 60), (61, 8, 4, 7, 61), (62, 8, 3, 7, 62), (63, 7, 4, 7, 63), (64, 7, 3, 7, 64), (65, 7, 3, 7, 65), (66, 7, 3, 7, 66), (67, 7, 4, 7, 67), (68, 8, 3, 7, 68), (69, 7, 4, 7, 69), (70, 8, 4, 7, 70), (71, 8, 3, 7, 71), (72, 8, 4, 7, 72), (73, 7, 3, 7, 73), (74, 7, 4, 7, 74), (75, 9, 4, 8, 75), (76, 9, 3, 8, 76), (77, 7, 4, 8, 77), (78, 7, 3, 9, 78), (79, 7, 3, 9, 79), (80, 10, 3, 9, 80), (81, 10, 3, 9, 81), (82, 7, 3, 9, 82), (83, 8, 4, 10, 83), (84, 7, 4, 10, 84), (85, 7, 4, 10, 85), (86, 9, 4, 10, 86), (87, 7, 3, 10, 87), (88, 8, 4, 10, 88), (89, 8, 3, 10, 89), (90, 7, 4, 10, 90), (91, 8, 3, 10, 91), (92, 7, 4, 10, 92), (93, 7, 3, 10, 93), (94, 10, 3, 10, 94), (95, 7, 4, 10, 95), (96, 9, 3, 10, 96), (97, 7, 3, 11, 97), (98, 9, 3, 11, 98), (99, 7, 4, 11, 99), (100, 8, 4, 11, 100), (101, 7, 4, 11, 101), (102, 7, 3, 11, 102), (103, 1, 7, 3, 1), (104, 2, 9, 3, 1), (105, 3, 7, 3, 1), (106, 4, 8, 3, 1), (107, 5, 7, 4, 1), (108, 6, 7, 3, 1), (109, 7, 7, 4, 1), (110, 8, 8, 3, 1), (111, 9, 8, 3, 1), (112, 10, 8, 3, 1), (113, 11, 9, 3, 1), (114, 12, 7, 3, 1), (115, 13, 7, 3, 2), (116, 14, 7, 3, 2), (117, 15, 10, 1, 2), (118, 16, 7, 3, 2), (119, 17, 8, 4, 3), (120, 18, 8, 4, 3), (121, 19, 8, 3, 3), (122, 20, 8, 4, 3), (123, 21, 8, 3, 3), (124, 22, 8, 3, 3), (125, 23, 7, 3, 3), (126, 24, 7, 3, 3), (127, 25, 9, 3, 4), (128, 26, 10, 3, 4), (129, 27, 7, 4, 4), (130, 28, 7, 4, 4), (131, 29, 7, 3, 4), (132, 30, 8, 3, 4), (133, 31, 8, 4, 4), (134, 32, 8, 3, 4), (135, 33, 7, 4, 4), (136, 34, 8, 4, 4), (137, 35, 7, 4, 4), (138, 36, 7, 3, 4), (139, 37, 7, 4, 4), (140, 38, 7, 4, 4), (141, 39, 7, 4, 4), (142, 40, 7, 3, 4), (143, 41, 8, 3, 4), (144, 42, 8, 4, 4), (145, 43, 7, 3, 4), (146, 44, 7, 4, 4), (147, 45, 10, 3, 5), (148, 46, 7, 3, 5), (149, 47, 8, 4, 5), (150, 48, 7, 4, 5), (151, 49, 8, 3, 5), (152, 50, 7, 3, 6), (153, 51, 7, 4, 6), (154, 52, 7, 3, 6), (155, 53, 8, 3, 6), (156, 54, 8, 3, 6), (157, 55, 8, 3, 7), (158, 56, 7, 4, 7), (159, 57, 7, 4, 7), (160, 58, 7, 4, 7), (161, 59, 8, 4, 7), (162, 60, 8, 3, 7), (163, 61, 8, 4, 7), (164, 62, 8, 3, 7), (165, 63, 7, 4, 7), (166, 64, 7, 3, 7), (167, 65, 7, 3, 7), (168, 66, 7, 3, 7), (169, 67, 7, 4, 7), (170, 68, 8, 3, 7), (171, 69, 7, 4, 7), (172, 70, 8, 4, 7), (173, 71, 8, 3, 7), (174, 72, 8, 4, 7), (175, 73, 7, 3, 7), (176, 74, 7, 4, 7), (177, 75, 9, 4, 8), (178, 76, 9, 3, 8), (179, 77, 7, 4, 8), (180, 78, 7, 3, 9), (181, 79, 7, 3, 9), (182, 80, 10, 3, 9), (183, 81, 10, 3, 9), (184, 82, 7, 3, 9), (185, 83, 8, 4, 10), (186, 84, 7, 4, 10), (187, 85, 7, 4, 10), (188, 86, 9, 4, 10), (189, 87, 7, 3, 10), (190, 88, 8, 4, 10), (191, 89, 8, 3, 10), (192, 90, 7, 4, 10), (193, 91, 8, 3, 10), (194, 92, 7, 4, 10), (195, 93, 7, 3, 10), (196, 94, 10, 3, 10), (197, 95, 7, 4, 10), (198, 96, 9, 3, 10), (199, 97, 7, 3, 11), (200, 98, 9, 3, 11), (201, 99, 7, 4, 11), (202, 100, 8, 4, 11), (203, 101, 7, 4, 11), (204, 102, 7, 3, 11)]
------------------------------------------------------------------------------------------------------------------------